/* @import './prism.css'; */
@import '../../globalStyle/variables.styl';

.article {
    max-width: $article-max-width;
    margin: 0 2em 80px 2em;

    .post-datetime {
        color: $text-color;
        font-size: 0.9em;
    }
}

.license {
    padding: 10px;
    margin: 50px 2em;
    background: $active-color;
    color: #fff;
    max-width: $article-max-width;

    a {
        color: #fff;
    }
}
