/* @import './prism.css'; */
@import '../../globalStyle/variables.styl';

.article {
    max-width: $article-max-width;
    margin: 0 2em 200px 2em;

    .post-datetime {
        color: $text-color;
        font-size: 0.9em;
    }
}
