/* @import './prism.css'; */
@import '../../globalStyle/variables.styl';

.article {
    max-width: 38em;
    margin: 0 2em 10em 4em;

    .post-datetime {
        color: $text-color;
        font-size: 0.9em;
    }
}
