.app {
    width: 100%;
    overflow: hidden;

    &-left {
        position: fixed;
        top: 0;
        left: 0;
    }

    &-main {
        margin-left: 300px;
    }
}

/* phone */
@media screen and (max-width: 768px) {
    .app {
        &-left {
            position: relative;
        }
        &-main {
            margin-left: 0;
        }
    }
}
