.app {
    width: 100%;
    overflow: hidden;
    display: flex;

    &-left {
        width: 100px;
    }

    &-main {
        flex-grow: 1;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
