@import './variables.styl';

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    max-width: 100%;
    padding: 0;
}

a {
    &[href='#table-of-contents'] {
        display: none;
    }

    &:hover {
        color: $text-color;
    }

    text-decoration: none;
}

li > a {
    color: $active-color;
}
blockquote {
    font-style: normal;
}

/* phone */
@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }
}
/* tablet */
@media (min-width: 769px) and (max-width: 1023px) {
    body {
        font-size: 1rem;
    }
}
/* desktop */
@media (min-width: 1024px) {
    body {
        font-size: 1rem;
    }
}
