@import '../../globalStyle/variables.styl';

.home {
    margin: 0 2em;

    h3 {
        font-weight: bold;
        color: $text-color;
    }

    a {
        border-bottom: 1px solid transparent;

        &:visited {
            color: $inactive-color;
        }
        &:hover {
            border-bottom: 1px solid $active-color;
        }
    }

    li {
        max-width: $article-max-width;
        > a {
            display: flex;
            justify-content: space-between;

            /* span:nth-child(1) {
                width: 250px;
                overflow: hidden;
            } */
        }
    }
}
