.sidebar {
    width: 300px;
    height: 100vh;
    background: no-repeat 50% / cover url('../../imgs/sidebar/bg.jpg');
    color: #fff;
    font-weight: bold;

    &-logo {
        width: 200px;
        display: block;
        margin: 0 auto;
        transform: translateY(80%);
        background: #fff;
        padding: 10px;
        border-radius: 20px;
    }
}
